/* Configurações Gerais */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
	background-image: url(../images/back.png);
	background-attachment: fixed;
	background-size: auto;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #A6C1E8;
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%;
	margin: 0;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.corpo_todo {
	width: 980px;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}
/* Confiurações Gerais*/

/* Inicio cabecalho */
.menuLogin {
    position: absolute;
    right: 0;
}

.menuLogin_botao1, .menuLogin_botao2 {
	top: 10px;
    border: none;
    line-height: 31px !important;
    background-color: rgba(166, 193, 232, 1);
	display: inline-block;
	padding: 0 10px;
	color: #FFFFFF;
	transition: color 0.4s ease 0s;
	line-height: 30px; 
	text-align: center;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	font: normal normal normal 16px/1.4em Spinnaker,sans-serif;
}

.menuLogin_botao1:hover, .menuLogin_botao2:hover {
    color: #00524D;
	transition: color 0.4s ease 0s;
}

.menuLogin_text {
    top: 10px;
    border: none;
    line-height: 31px !important;
	display: inline-block;
	padding: 0 10px;
	color: #FFFFFF;
	transition: color 0.4s ease 0s;
	line-height: 30px; 
	text-align: center;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	font: normal normal normal 16px/1.4em Spinnaker,sans-serif;
}

#menuLogin_logout {
	position: absolute !important; 
	top: 30px !important;
	background-color: rgba(48, 85, 137, 0.2);
	right: 0px;
    top: 30px;
	padding-left: 5px !important;
	background-color: rgba(166, 193, 232, 1);
	line-height: 31px;
}

.img_icon {
	position: absolute; 
	top: 25px; 
	left: 430px; 
	width: 120px; 
	height: 120px;
}

.slogan_icon {
	position: absolute; 
	top: 121px; 
	width: 315px; 
	left: 328px;
	text-align: center; 
}

.font_0 {
	font: normal normal normal 30px/1.4em Spinnaker,sans-serif;
	color: #1C3353;
	line-height: 1.1em;
}

.font_8 {
	font: normal normal normal 13px/1.4em Spinnaker,sans-serif ;
	color: #305589;
	line-height: 1.1em;
}
/* Fim cabecalho */

/* Inicio menu */
.div_menu {
	position: absolute; 
	top: 165px; 
	height: 60px; 
	width: 625px; 
	left: 355px;
	text-align: right; 
}

.link_menu {
	top: 0px;
	display: inline-block;
	padding: 0 10px;
	color: #FFFFFF;
	transition: color 0.4s ease 0s;
	line-height: 30px; 
	text-align: center;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	font: normal normal normal 16px/1.4em Spinnaker,sans-serif;
}

.link_menu:hover {
	color: #00524D;
	transition: color 0.4s ease 0s;
}

#menu_contate {
	position: absolute !important; 
	top: 30px !important;
	background-color: rgba(48, 85, 137, 0.2);
	right: 0px;
	height: 30px;
	width: 101px;
	background-color: rgba(166, 193, 232, 1);
	line-height: 31px;
}

#menu_reserva {
	position: absolute !important; 
	top: 30px !important;
	background-color: rgba(48, 85, 137, 0.2);
	right: 101px;
	height: 30px;
	width: 80px;
	padding-left: 5px !important;
	background-color: rgba(166, 193, 232, 1);
	line-height: 31px;
}
/* Fim menu */

/* Inicio anuncio */
.anuncio {
	width: 100% !important;
	top: 1347px;
	position: absolute;
	height: 105px; 
	left: 0px;
}

.back_anuncio {
	left: 0;
	width: 100% !important;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.anuncio_back {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 165, 154, 1);  
	border-top: 0px solid rgba(0, 165, 154, 1);
	border-bottom: 0px solid rgba(0, 165, 154, 1);
}

.dados_anuncio {
	position: absolute; 
	top: 35px; 
	width: 605px; 
	left: calc(8px + (100% - 980px)/2);
	font: normal normal normal 25px/1.4em Spinnaker,sans-serif;
	color: #305589;
	letter-spacing: 0.2em;
}

.anuncio_link {
	position: absolute; 
	top: 23px; 
	height: 60px; 
	width: 310px; 
	left: calc(669px + (100% - 980px)/2);
}

.link_button {
	position: absolute;
	height: 44px;
	width: 302px;
	text-align: center;
	background-color: transparent;
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;    
	border: solid rgba(255, 255, 255, 1) 4px;
	cursor: pointer !important;
	padding-top: 8px;
	font: normal normal normal 25px/1.4em Spinnaker,sans-serif;  
	transition: color 0.4s ease 0s;  
	color: #FFFFFF;
	display: inline-block;
	white-space: nowrap;
}

.link_button:hover {
	color: #00524D;
	border-color: rgba(255, 255, 255, 1);
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
/* Fim anuncio */

/* Inicio rodapé */
.rodape {
	position: absolute;
	top: 1452px;
	height: 200px;
	width: 100%;
	left: 0px;
	bottom: auto;
	background-color: rgba(48, 85, 137, 1);
}

.dados_rodape {
	position: absolute; 
	top: 47px; 
	width: 355px; 
	left: calc(9px + (100% - 980px)/2);
	color: #7297CE;
	font: normal normal normal 15px/1.4em Spinnaker,sans-serif;
}

.back_rodape {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%; 
	left: 0;
}

.rodape_back {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(48, 85, 137, 1);  
	border-top: 0px solid rgba(48, 85, 137, 1);
	border-bottom: 0px solid rgba(48, 85, 137, 1);
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(218, 218, 218);
}

::-webkit-scrollbar {
	background-color: white;
}
/* Fim rodapé */